////////////////////////////////////////////////////
///////////// COLORS
$color-primary: #c27e5e;
$color-secondary: #d38e3f;
$color-tertiary: #c2504a;
$color-quaternary: rgb(245, 213, 30); // f5d51e

$color-white: #fff;
$color-black: #000;
$color-grey-1: rgb(138, 138, 138);
$color-grey-2: rgb(134, 134, 134);
$color-grey-3: rgb(230, 230, 230);
$color-grey-4: rgb(245, 245, 245);
$color-grey-5: rgb(88, 88, 88);
$color-grey-6: rgb(235, 235, 235);